
#nav-bar{
  position: sticky;
  top: 0%;
  z-index: 10;
  box-shadow: 0 2.5px 5px 0.75px #000;
}
.navbar {
  background-image: linear-gradient(to right,#009688,rgba(2, 22, 109, 0.747));
  padding: 0 !important;
}
.navbar-brand img{
  height: 35px;
  padding: 5px;
  margin-left: 10px;
  
}
.navbar-nav li{
  padding: 0 10px;
 
}
.navbar-nav li a {
  color: #fff !important;
  font-weight: bold;
  float: right;
  text-align: left;
  font-family: 'New Tegomin', serif;
  transition: 00.5s;
  
}
.navbar-nav li a:hover{
  transform: translateY(5px);
}

.fa-bars{
  color: #fff;
  font-size: 30px  !important;
  
}

.navbar-toggler{
  outline: none  !important;
  
}
.navbar-toggler .icon-bar{
  padding: 50px !important;
}
#game a{
  width: 150px;
  color: #fff;
  height: 40px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 12 0;
  vertical-align: middle;
  padding: 5px ;
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: 'Itim', cursive;
  transition: color 0.5s;
   box-shadow: 0 1.5px 2.5px 0.35px rgb(46, 45, 45);
   margin-top: 30px;
   border-radius: 20px;
   border-top: 1px solid rgba(255,255,255,0.5);
   border-left: 1px solid rgba(255,255,255,0.5);
   backdrop-filter: blur(7px);
   background: rgba(196, 202, 255, 0.205);
}
#game a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: #fff;
  text-align: center;
  z-index: -1;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 2.5px 5px 0.75px #000;
}
#game a:hover span {
  width: 100%;
  border-radius: 20px;
}
#game a:hover {
 color:#030303 ;
}
/******game**********/
#game{
  font-family: 'Itim', cursive;
    justify-content: center;
    color: #545454;
    background: linear-gradient(to right,#00968754,rgba(2, 22, 109, 0.466)) ,url(scene1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    
}
.game-card{
    margin-top: 50px;
    padding: 50px;
    border-radius: 25px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(7px);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    position: relative;
    border-radius: 15px;
    background: rgba(196, 202, 255, 0.205);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  text-align: center;
}
.title{
    text-align: center;
    color: #efefef;
}
.title span{
    color: #fff;
}
.status-action{
    margin-top: 25px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    height:30px;
    color: #fff;
}
.status span {
    color: #F2EBD3;
}
.reset{
    cursor: pointer;
  color: #fff;
}
.reset:hover{
    color: #a09f9a;
}
.game-grid{
  background:none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 15px;
    margin-top: 50px;
}
.game-cell{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 150px;
    background: rgba(196, 202, 255, 0.205);
    cursor: pointer;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 25px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(7px);
}

.x,
.o {
  cursor: default;
}

.x::after{
  content: '✘';
  font-size: 145px;
 color: #fff;
 margin-bottom: 15px;
}
.o::after{
  content: '◉';
  color: #fff;
  font-size: 145px;
  margin-bottom: 15px;
}
.won::after{
  color: #1eff00;
}
  
  @media only screen and (max-width: 540px) {
    .game-card {
      margin: 25px;
      padding: 50px;
    }
  
    .game-cell {
      height: 80px;
      width: 80px;
    }
    .x::after {
      font-size: 65px;
      margin-bottom: 7.5px;
    }
  
    .o::after {
      font-size: 115px;
      margin-bottom: 7.5px;
    }
  }
